# Built application files
*.apk
*.aab

# Files for the ART/Dalvik VM
*.dex

# Built outputs
/build
app/build

# IDE files
.idea
*.iml

# Gradle files
.gradle

# Local configuration
/local.properties

# Keystore files
*.jks
*.keystore

# Google services
google-services.json

# Miscellaneous
.DS_Store
/captures
.externalNativeBuild
.cxx
